.book-filter {
	background-color: var(--clr2bg);
	padding: 0.3rem 1em;
	margin-block: 0.5em 1em;
}

.book-filter form {
	display: grid;
	grid-template-columns: 160px 200px 160px 200px;
	gap: 0.3em;
}

.book-filter form button {
	margin-inline: 0;
}
