.book-preview {
	text-align: center;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book-preview h4 {
	text-transform: capitalize;
	color: black;
}

.book-preview .img-container {
	display: inline block;
	margin: 0 auto;
	position: relative;
	/* width: 100%; */
	overflow: hidden;
}

.book-preview img {
	max-width: 200px;
	width: 100%;
}

.sale {
	position: absolute;
	top: -25px;
	right: -75px;
	font-family: "Oxygen", sans-serif;
	background-color: #e1534b;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.325rem;
	padding: 0.25rem 3rem;
	transform-origin: 0 0;
	transform: rotate(45deg);
	opacity: 0.5;
}
